/*! Lynx v1.2.4 | MIT License | https://github.com/jpanther/lynx */

@tailwind base;
@tailwind components;

/* Scale SVG icons to text size */
.icon svg {
  height: 1em;
  width: 1em;
}

/* Links */
.link {
  @apply text-white bg-primary-700 hover:brightness-90;
}

/* amazon */
.link-YW1hem9u {
  @apply text-neutral-900;
  background-color: #ff9900;
}
/* apple */
.link-YXBwbGU {
  background-color: #333;
}
/* codepen */
.link-Y29kZXBlbg {
  background-color: #1e1f26;
}
/* dev */
.link-ZGV2 {
  background-color: #0a0a0a;
}
/* discord */
.link-ZGlzY29yZA {
  background-color: #7289da;
}
/* dribbble */
.link-ZHJpYmJibGU {
  background-color: #ea4c89;
}
/* facebook */
.link-ZmFjZWJvb2s {
  background-color: #1877f2;
}
/* flickr */
.link-ZmxpY2ty {
  background-color: #ff0184;
}
/* foursquare */
.link-Zm91cnNxdWFyZQ {
  background-color: #0732a2;
}
/* github */
.link-Z2l0aHVi {
  background-color: #333;
}
/* gitlab */
.link-Z2l0bGFi {
  background-color: #554488;
}
/* google */
.link-Z29vZ2xl {
  background-color: #4285f4;
}
/* instagram */
.link-aW5zdGFncmFt {
  background-color: #c13584;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
/* keybase */
.link-a2V5YmFzZQ {
  background-color: #33a0ff;
}
/* kickstarter */
.link-a2lja3N0YXJ0ZXI {
  @apply text-neutral-900;
  background-color: #06ce78;
}
/* lastfm */
.link-bGFzdGZt {
  background-color: #d51007;
}
/* linkedin */
.link-bGlua2VkaW4 {
  background-color: #0077b5;
}
/* mastodon */
.link-bWFzdG9kb24 {
  background-color: #6364ff;
}
/* medium */
.link-bWVkaXVt {
  background-color: #00ab6c;
}
/* microsoft */
.link-bWljcm9zb2Z0 {
  background-color: #08a6f0;
}
/* orcid */
.link-b3JjaWQ {
  background-color: #a6ce39;
}
/* patreon */
.link-cGF0cmVvbg {
  background-color: #ff434d;
}
/* pinterest */
.link-cGludGVyZXN0 {
  background-color: #e60023;
}
/* reddit */
.link-cmVkZGl0 {
  background-color: #ff4500;
}
/* researchgate */
.link-cmVzZWFyY2hnYXRl {
  background-color: #40ba9c;
}
/* slack */
.link-c2xhY2s {
  background-color: #4a154b;
}
/* snapchat */
.link-c25hcGNoYXQ {
  @apply text-neutral-900;
  background-color: #fffc00;
}
/* soundcloud */
.link-c291bmRjbG91ZA {
  background-color: #ff8800;
  background: linear-gradient(120deg, #ff8800, #ff3300);
}
/* steam */
.link-c3RlYW0 {
  background-color: #000;
}
/* telegram */
.link-dGVsZWdyYW0 {
  background-color: #25a3e1;
}
/* tiktok */
.link-dGlrdG9r {
  background-color: #fe2d55;
}
/* tumblr */
.link-dHVtYmxy {
  background-color: #001935;
}
/* twitch */
.link-dHdpdGNo {
  background-color: #9146ff;
}
/* twitter */
.link-dHdpdHRlcg {
  background-color: rgb(63, 136, 222);
}
/* whatsapp */
.link-d2hhdHNhcHA {
  background-color: #45d82c;
  background: linear-gradient(120deg, #12990b, #45d82c);
}
/* youtube */
.link-eW91dHViZQ {
  background-color: #ff0000;
}

/* -- Chroma Highlight -- */
/* Background */
.prose .chroma {
  @apply rounded-md text-neutral-700 bg-neutral-50 dark:bg-neutral-700 dark:text-neutral-200;
}

@tailwind utilities;
