{{ $lookup := dict
"amazon" "YW1hem9u"
"apple" "YXBwbGU"
"codepen" "Y29kZXBlbg"
"dev" "ZGV2"
"discord" "ZGlzY29yZA"
"dribbble" "ZHJpYmJibGU"
"facebook" "ZmFjZWJvb2s"
"flickr" "ZmxpY2ty"
"foursquare" "Zm91cnNxdWFyZQ"
"github" "Z2l0aHVi"
"gitlab" "Z2l0bGFi"
"google" "Z29vZ2xl"
"instagram" "aW5zdGFncmFt"
"keybase" "a2V5YmFzZQ"
"kickstarter" "a2lja3N0YXJ0ZXI"
"lastfm" "bGFzdGZt"
"linkedin" "bGlua2VkaW4"
"mastodon" "bWFzdG9kb24"
"medium" "bWVkaXVt"
"microsoft" "bWljcm9zb2Z0"
"orcid" "b3JjaWQ"
"patreon" "cGF0cmVvbg"
"pinterest" "cGludGVyZXN0"
"reddit" "cmVkZGl0"
"researchgate" "cmVzZWFyY2hnYXRl"
"slack" "c2xhY2s"
"snapchat" "c25hcGNoYXQ"
"soundcloud" "c291bmRjbG91ZA"
"steam" "c3RlYW0"
"telegram" "dGVsZWdyYW0"
"tiktok" "dGlrdG9r"
"tumblr" "dHVtYmxy"
"twitch" "dHdpdGNo"
"twitter" "dHdpdHRlcg"
"whatsapp" "d2hhdHNhcHA"
"youtube" "eW91dHViZQ"
}}

{{ $classname := or (index $lookup .) . }}

{{ return $classname }}
